/* This is the number password styling for the code on the login page. (index.html)*/
input[type="password"] { 
  width: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
